@page "/courses/{id:int}"
@* @inject HttpClient HttpClient *@
@attribute [StreamRendering]

@if (course == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <section class="singel-courses">
        <section class="singel-courses-box">
            <img src="images/courses/@course.ImageName" alt="Computer Image">

            <div class="container">
                <div class="home-course">
                    <a class="home-and-course">
                        <i class="fa-light fa-house"></i>
                        <p class="home">Home</p>
                    </a>

                    <i class="fa-light fa-angles-right"></i>
                    <p class="courses">Courses</p>

                    <i class="fa-light fa-angles-right"></i>
                    <p class="courses">@course.Title</p>
                </div>

                <div class="content">
                    <div class="label">
                        <div class="bestseller">
                            <p>Best Seller</p>
                        </div>
                        <div class="digital">
                            <p>Digital</p>
                        </div>
                    </div>

                    <h1 class="h1">@course.Title</h1>
                    <p class="text-xl">Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>

                    <div class="rating">
                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>

                        <div class="reviews">
                            <p>(1.2K reviews)</p>
                            <div></div>
                        </div>

                        <div class="likes">
                            <i class="fa-sharp fa-light fa-thumbs-up"></i>
                            <p>5K likes</p>
                            <div>.</div>
                        </div>

                        <div class="hours">
                            <i class="fa-regular fa-clock"></i>
                            <p>220 hours</p>
                        </div>
                    </div>

                    <div class="auther">
                        <div class="author-image">
                            <img class="created-img" src="images/author-image.png" alt="Author Image">
                        </div>
                        <div class="author-info">
                            <p class="created">Created by</p>
                            <p class="author-name">Albert Flores</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="course-box-description container">
            <div class="box-one">
                <div class="course-description"></div>
                <h2>Course Description</h2>
                <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <h3>What you'll learn</h3>
                <div class="content-box">
                    <div class="box">
                        <i class="fa-light fa-circle-check"></i>
                        <p>Sed lectus donec amet eu turpis interdum.</p>
                    </div>
                    <div class="box">
                        <i class="fa-light fa-circle-check"></i>
                        <p>Nulla at consectetur vitae dignissim porttitor.</p>
                    </div>
                    <div class="box">
                        <i class="fa-light fa-circle-check"></i>
                        <p>Phasellus id vitae dui aliquet mi.</p>
                    </div>
                    <div class="box">
                        <i class="fa-light fa-circle-check"></i>
                        <p>Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
                    </div>
                    <div class="box">
                        <i class="fa-light fa-circle-check"></i>
                        <p>In aenean dolor diam tortor orci eu.</p>
                    </div>
                </div>
            </div>

            <div class="box-two">
                <h3>This course includes:</h3>
                <div class="content-box">
                    <div class="box">
                        <i class="fa-regular fa-tv"></i>
                        <p>148 hours on-demand video</p>
                    </div>
                    <div class="box">
                        <i class="fa-thin fa-newspaper"></i>
                        <p>18 articles</p>
                    </div>
                    <div class="box">
                        <i class="fa-light fa-download"></i>
                        <p>25 downloadable resources</p>
                    </div>
                    <div class="box">
                        <i class="fa-regular fa-infinity"></i>
                        <p>Full lifetime access</p>
                    </div>
                    <div class="box">
                        <i class="fa-light fa-wreath-laurel"></i>
                        <p>Certificate of completion</p>
                    </div>
                </div>

                <div class="price">
                    <h1>$28.99</h1>
                    <h3 class="discounted-price-line-through">$49.00</h3>
                </div>
                <SingleCourseButton />

            </div>
        </section>

        <section class="programdetails">
            <div class="container">
                <div class="box-three">
                    <h2>Program Details</h2>

                    <div class="line-vertical"></div>

                    <div class="content">
                        <div class="circle-gray">
                            <div class="circle-wite">
                                <p>1</p>
                            </div>
                        </div>
                        <div class="content-text">
                            <h3>Introduction. Getting started</h3>
                            <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="circle-gray">
                            <div class="circle-wite">
                                <p>2</p>
                            </div>
                        </div>
                        <div class="content-text">
                            <h3>The ultimate HTML developer: advanced HTML</h3>
                            <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="circle-gray">
                            <div class="circle-wite">
                                <p>3</p>
                            </div>
                        </div>
                        <div class="content-text">
                            <h3>CSS & CSS3: basic</h3>
                            <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="circle-gray">
                            <div class="circle-wite">
                                <p>4</p>
                            </div>
                        </div>
                        <div class="content-text">
                            <h3>JavaScript basics for beginners</h3>
                            <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="circle-gray">
                            <div class="circle-wite">
                                <p>5</p>
                            </div>
                        </div>
                        <div class="content-text">
                            <h3>Understanding APIs</h3>
                            <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="circle-gray">
                            <div class="circle-wite">
                                <p>6</p>
                            </div>
                        </div>
                        <div class="content-text">
                            <h3>C# and .NET from beginner to advanced</h3>
                            <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                        </div>
                    </div>
                </div>

                <div class="box-four">
                </div>

            </div>
        </section>

        <section class="albert-flores">
            <div class="container">
                <div class="albert-flores-img">
                    <img class="author-image" src="images/author-image-square.png" alt="Albert Flores Image">
                </div>

                <div class="albert-flores-text">
                    <div class="wave">
                        <img src="images/pattern.svg" alt="">
                    </div>
                    <h5>Learn from the best</h5>
                    <h2>Albert Flores</h2>
                    <p>Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                    <div class="button">
                        <button class="btn-theme danger"><i class="fa-brands fa-youtube"></i>240k subscribers</button>
                        <button class="btn-theme"><i class="fa-brands fa-square-facebook"></i>180k followers</button>
                    </div>
                </div>
            </div>
        </section>
    </section>
}

@code {
    private CourseModel course;

    [Parameter]
    public int Id { get; set; }

    [Inject]
    private HttpClient HttpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadCourseAsync(Id);
    }

    private async Task LoadCourseAsync(int id)
    {
        try
        {
            course = await HttpClient.GetFromJsonAsync<CourseModel>($"https://localhost:7026/api/Courses/{id}");
        }
        catch (Exception ex)
        {
            // Hantera fel här, t.ex. logga eller visa ett meddelande till användaren
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    public class CourseModel
    {
        public int Id { get; set; }
        public string Title { get; set; } = null!;
        public decimal Price { get; set; }
        public decimal DiscountPrice { get; set; }
        public int Hours { get; set; }
        public bool IsBestseller { get; set; }
        public decimal LikesInNumbers { get; set; }
        public decimal LikesInProcent { get; set; }
        public string? Author { get; set; }
        public string? ImageName { get; set; }
        public string Category { get; set; } = null!;
    }
}