<section class="dark-light">
    <div class="dark-light-box">
        <div class="dark"></div>
        <div class="light"></div>
    </div>

    <div class="container black-box">
        <div class="text-h1">
            <h1 class="dark">Switch Between</h1>
            <h1 class="light">Ligh & Dark Mode</h1>
        </div>

        <div class="img-dark-light">
            <img src="images\dark-light.svg" alt="dark and light mode">
            <button class="round-button">
                <i class="fa-light fa-arrows-left-right"></i>
            </button>
        </div>
    </div>
</section>