<div class="download">
    <div class="container">
        <div class="phone">
            <img class="iPhonePro" src="/images/iPhonePro.svg" alt="">
            <img class="iPhoneProinside" src="/images/iPhoneProinside.svg" alt="">
        </div>

        <div class="contentinformation">
            <h1>Download Our App <br> for Any Devices:</h1>

            <div class="appstore">

                <div class="textappstore">
                    <p>App Store</p>
                    <div class="star">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    </div>
                    <h6>Editor's Choice</h6>
                    <p>rating 4.7, 187K+ reviews</p>
                </div>

                <div class="icon">
                    <a href="#"><img src="/images/icons/appstore.svg" alt="appstore icon"></a>
                </div>
            </div>

            <div class="googleplay">

                <div class="textgoogleplay">
                    <p>Google Play</p>
                    <div class="star">
                        <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
                    </div>
                    <h6>App of the Day</h6>
                    <p>rating 4.8, 30K+ reviews</p>
                </div>

                <div class="icon">
                    <a href="#"><img src="/images/icons/googleplay.svg" alt="googleplay icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>
